$color-white: #eceff1; // blue grey 50
$color-black: #455a64; // blue grey 700

$color-gray-98: #eee; // grey 200 - elements light background
$color-gray-95: $color-white; // grey 200 - menu - background
$color-gray-90: $color-black;

$color-blue-80: #37474f; // blue grey 800 - nav, menu, pagination - button border
$color-blue-60: $color-black; // button font
$color-blue-30: #546e7a; // blue grey 600
$color-blue-15: #607d8b; // blue grey 500

$color-yellow-100: #fbc02d; // yellow 700
$color-red-95: #d32f2f; // red 700
$color-green-100: #00e676; // green A400

$color-social-twitter: $color-black;
$color-social-facebook: $color-black;

$primary-color: $color-black; // define primary color
$progress-color: $color-green-100; // progress bar color
